.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &_error {
    color: red;
    margin-bottom: 10px;
  }
  &_title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  &_form {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 5);
    margin-bottom: 20px;
  }
  &_link {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    a {
      color: #23bebe;
    }
  }
}
